*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    color: darkslategrey;
}

h1 {
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: green;
    color: yellow;
    font-weight: 600;
}

#maindiv {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}